:root {
    --primary-color: #202020;
    --primary-color-alt: #f0f0f0;
    --secondary-color: #ccc;
    --secondary-color-alt: #fff;
    --tertiary-color: #ddd;

    --cta-color: #b81d18;

    --font-primary: 'Germania One', cursive;
}
